NODE_ENV=development
HOST=localhost
PORT=8080
LOG_LEVEL=debug
STATIC_DIR=dist
ROLLBAR_PSI_TOKEN=ROLLBAR_PSI_TOKEN
DB_TYPE=sqlite3
DB_HOST=localhost
DB_USER=admin
DB_PASS=password
DB_NAME=task_manager.sqlite
DB_PORT=5432
